/* GENERAL STYLES */
body {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}

h2 {
    display: flex;
    justify-content: center;
    font-family: fantasy, sans-serif;
    font-size: 2.5em;
    color: black;
    font-weight: bolder;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: fantasy, sans-serif;
    font-size: 2em;
    color: black;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header and Footer */
nav {
    color: white;
    font-family: fantasy, sans-serif;
    font-size: 17px;
}

header {
    background-color:beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#myLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
}

.navigationLink {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    font-size: 28px;
}

.navigationLink:hover {
    color: #825E6B;
}

footer {
    background-color: #A0A02C;
    display: flex;
    justify-content: space-evenly;
}

.footerLink:hover {
    color: #825E6B;
}

/* Subject Name Effect on Homepage */
.subjectTitle:hover {
    color: #825E6B;
}

/* Coverpage Book Image Format */
.bookCover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border: 1px solid black;
}

/* Book Detail Page Coverpage Image */
.bookTab {
    display: flex;
    justify-content: center;
}

.bookCell {
    padding: 3px 30px;
}

.bookImage {
    width: 100%;
    display: block;
    border: 1px solid black;
}

.mainImage {
    width: 280px;
}

.otherImage {
    width: 120px;
    padding-left: 50px;
}

/* Effect When Hovering a Coverpage Book Image */
.container {
    position: relative;
    width: 50%;
}
 
.imageEffect {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.textEffect {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .imageEffect {
    opacity: 0.5;
}

.container:hover .textEffect {
    opacity: 1;
}

.text {
    color: black;
    font-size: 30px;
    font-family: fantasy,sans-serif;
    background-color: antiquewhite;
    padding: 15px;
    border-color: black;
    border-width: 3px;
    border-radius: 8px;
}

/* IFrame Information Format */
.videoRecommendation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.videoCaption {
    font-size: 28px;
    font-family: fantasy, sans-serif;
    margin-right: 30px;
}

.videoArrow {
    width: 100px;
    margin-right: 30px;
    display: block;
}

.mobileArrow {
    display: none;
}

/* Breadcrumbs for Book Detail Pages */
.breadcrumb {
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    list-style: none;
    background-color: antiquewhite;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.breadcrumb li {
    display: inline;
    font-size: 25px;
    font-family: fantasy, sans-serif;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

.breadcrumb li a:hover {
    text-decoration: underline;
  }

/* CONTENT OF BOOK IMAGES, PRICE, AND ADD-TO-CART BUTTON */
content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Table Contains Price and Add-to-Cart Button */
.bookInformation {
    text-align: right;
    margin-left: 50px;
}
/* Add-to-Cart Button */
.addToCart {
    font-size: 19px;
    font-family: fantasy, sans-serif;
    background-color: #A0A02C;
    color: white;
    padding: 10px 20px;
    margin-top: -20px;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.addToCart:hover {
    background-color: white;
    color: #A0A02C;
    border-color: #A0A02C;
}

/* Information of the Book of Book Detail Page */
.bookContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 50px;
}

.bookName {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bookAuthor {
    font-size: 30px;
    font-style: italic;
    color: lightslategray;
    margin-top: -40px;
    margin-bottom: -1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bookDescription {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

/* Publication Details of Book */
.bookEdition {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    text-align: left;
    color: lightslategray;
    padding-right: 20px;
}

.bookEdition::first-line {
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
}

/* Form */
.formFormat {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(216, 223, 220);
}

.contactPreferenceBlock, .receiveNewsletterBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

label, select, input, textarea, form p {
    font-family: fantasy, sans-serif;
    font-size: 1.4em;
}


/* MOBILE VERSION */

@media screen and (max-width: 960px) {
    /* GENERAL STYLES*/
    h2 {
        font-size: 2em;
        text-align: center;
    }

    h3 {
        font-size: 1.7em;
        text-align: center;
    }    
    
    /* Header */
    header {
        flex-direction: column;
        justify-content: center;
    }

    .navigationLink {
        float: none;
        width: 100%;
        font-size: 24px;
    }

    #myLogo {
        width: 180px;
    }

    /* Coverpage Book Image Format */
    .bookTab {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .bookCell {
        display: block;
    }

    .bookCover {
        width: 200px;
    }

    /* IFrame Information Format */
    .videoRecommendation {
        flex-direction: column;
    }

    .videoCaption {
        font-size: 24px;
        text-align: center;
        margin-bottom: -38px;
        margin-left: auto;
        margin-right: auto;
    }

    .videoArrow {
        display: none;
    }

    .mobileArrow {
        display: block;
        width: 100px;
        transform: scaleY(-1);
    }

    .videoContent {
        position: relative;
        overflow: hidden;
        width: 90%;
        padding-top: 56.25%;
    }

    .videoSize {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    /* Center-Aligned Footer*/
    #footerNav {
        text-align: center;
    }

    /* Breadcrumb */
    .breadcrumb {
        width: auto;
        flex-wrap: wrap;
    }

    /* Book Detail Content */
    content {
        flex-direction: column;
    }
    
    .mainImage {
        width: 200px;
    }

    .furtherImage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .mobileImage {
        display: table-cell;
    }

    .otherImage {
        padding: initial;
        width: 100px;
    }

    .bookInformation {
        margin: auto;
    }

    .bookName {
        font-size: 32px;
    }

    .bookAuthor {
        font-size: 23px;
        margin-top: -30px;
    }

    .bookDescription {
        font-size: 18px;
    }

    /* Form */
    form, .divArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label, select, input, textarea, form p {
        font-family: fantasy, sans-serif;
        font-size: 1em;
    }
}