header {
    background-color:beige;
}

header a:link {
    text-decoration: none;
}

header a:visited {
    color:black;
    text-decoration: none;
}

footer {
    background-color: dimgray;
    color: white;
}

footer a:link {
    color:white;
    text-decoration: none;
}

footer a:visited {
    color:white;
    text-decoration: none;
}

header img {
    width: 60px;
}

img {
    width: 200px;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: fantasy, sans-serif;
    font-size: 2em;
}